<%= link_to 'Profile', :lineprofiler => true %>
<div class="peek-dropdown">
  <ul>
    <li><%= link_to 'app', url_for(:lineprofiler => 'app') %></li>
    <li><%= link_to 'views', url_for(:lineprofiler => 'views') %></li>
    <li><%= link_to 'gems', url_for(:lineprofiler => 'gems') %></li>
    <li><%= link_to 'all', url_for(:lineprofiler => 'all') %></li>
    <li><%= link_to 'stdlib', url_for(:lineprofiler => 'stdlib') %></li>
  </ul>
</div>
