<%= link_to 'Profile', :lineprofiler => true %>
<div class="peek-dropdown">
  <ul>
    <li><%= link_to 'app', :lineprofiler => 'app' %></li>
    <li><%= link_to 'views', :lineprofiler => 'views' %></li>
    <li><%= link_to 'gems', :lineprofiler => 'gems' %></li>
    <li><%= link_to 'all', :lineprofiler => 'all' %></li>
    <li><%= link_to 'stdlib', :lineprofiler => 'stdlib' %></li>
  </ul>
</div>
